<form #formSignup="ngForm">
    <div class="card text-white bg-dark">
        <div class="card-header">
            <h5>News Benachrichtigung</h5>
        </div>  

        <div class="card-body">
            <div class="row mb-2">
                <div class="col">
                    <input #inputEmail="ngModel" minlength="8" email name="signupMail" [(ngModel)]="signupMail" required class="form-control" placeholder="Bitte Ihre E-Mail Adresse hier éintragen">
                </div>
            </div>

            <div *ngIf="inputEmail.invalid && (inputEmail.touched || inputEmail.dirty)" class="row mb-2">
                <div class="col">

                    <div *ngIf="inputEmail.errors?.['required']" class="alert alert-danger">
                        Eine E-Mail Adresse ist erforderlich..
                    </div>

                    <div *ngIf="inputEmail.errors?.['minlength']" class="alert alert-danger">
                        Es müssen mindestens 8 Zeichen verwendet werden..
                    </div>

                    <div *ngIf="inputEmail.errors?.['email'] && !inputEmail.hasError('minlength')" class="alert alert-danger">
                        Dies ist keine gültige E-Mail Adresse..
                    </div>

                </div>
            </div>
        </div>  

        <div class="card-footer">
            <button [disabled]="formSignup.invalid" (click)="onSubmit()" class="btn btn-primary">Eintragen</button>
        </div>
    </div>
</form>
